@font-face {
    font-family: "Conrnerstone" ;
    src: url(../fuentes/Cornerstone.ttf); 
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px ;
    text-align: center;
    width: 1600px; /* Asegura que el body ocupe el 100% del ancho de la ventana */
}

p{
     font-size:  1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Todo lo relacionado con el header*/
header{
    height: 90px;
    width: 1600px;
    display: flex;
    background-color: #363636;
}

header h1{
    margin:30px 0px 0px 0px ;
    font-family: "Conrnerstone" ;
    font-size: 58px;
    /* color: #cc527a; */
    color: #e7b82f;
}

header  img{
    width: 90px; 
    height: auto;
    margin: 0px 200px 0px 50px;
}



/*Todo lo relacionado con el nav*/
nav{
    height: 90px;
    width: 1600px;
    border-bottom: 1px  solid #270f07;
    border-top:1px solid  #270f07;
    font-size: 1.4em;
    text-align: center;
    display: flex;
    background-color: #a8a7a7;
}


#li1,#li2,#li3,#li4{
    padding-top: 30px ;
    display: inline-block;
    margin: 0px 150px 0px 150px;
    font-family: "Conrnerstone" ;
    font-size: 25px;
    
}


nav li a{
    text-decoration: none;
    color: black;
}



/*Todo lo relacionado con el content*/

.article1{
    position: relative;
    width: 1600px;
    height: 900px;
    border: 1px solid black;
    background-color: #dbd3bd;
    padding: 50px 0px 0px 0px;
    
}

.article2{
    width: 1600px;
    height: 800px;
    border: 1px solid #dbd3bd;
    background-color: #dbd3bd;
    display: flex;
    position: relative;
}

/*------Article1---*/

content .article1 img{
    width: 600px;
    height: 700px;
    border-radius: 5px;
    border: solid  #270f07 2px;
    position: absolute;
    left:300px;
    top: 100px;
}


content .article1 aside {
    width: 500px;
    height: 800px;
    background-color: #e0dbcb; /*Color de fondo y con el valor 0.7 determinamos la opacidad.*/
    box-shadow: 3px 0px 8px rgb(0,0,0,0.4);
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: absolute;
    right: 110px;
    top: 100px;
    
    
}

/*-----------Article2*/

.artista-info{
    width: 800px;
    float: left;
    position: relative;

}

.informacion{
    width: 500px;
    height: 400px;
    
    position: absolute;
    top: 30px ;
    left: 250px;
    
}


    /*-----------form*/

.form-container{
    position: absolute; /*Para poder desplzarlo dentro de article2 */
    position: relative; /*Para poner absolute todo el form*/
    display: flex;
    align-content: left;
    align-items: left;
    top:  30px;
    left: 10px;
    width: 700px;
    height: 600px;
    padding: 20px 0px 20px 50px;
    background-color: #e0dbcb; /*Color de fondo y con el valor 0.7 determinamos la opacidad.*/
    box-shadow: 3px 0px 8px rgb(0,0,0,0.4);
    border-radius:5px ;
}

form{
    margin-top:90px;
    flex-direction: column; /*los elementos del formulario se apilarán verticalmente*/
    height: 100%;
    display: flex; /*le damos flexibilidad al contenedor */
}

#titulo-form{
    position: absolute;
    left: 5px;
    top: 16px;
    margin-left: calc(70% - 25px);/*Con calc() establecemos el margen izquierdo del elemento como el 70% del ancho del contenedor padre menos 25 píxeles. */
    align-items: right;
    background-color: rgb(255, 255, 255,0.7);
    font-family: "Aguafina Script", cursive;/*Añadimos la fuente importada.*/
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px; /*Para darle tamaño entre letras*/
    text-shadow: 0px 0px 2px #777;
    padding: 0px 10px 0px 10px;
}

.form-container  input,textarea {
    display: inline-block;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 1px 4px rgb(0, 0, 0,0.3),/*Primera sombra*/
                inset 0px 0px 40px rgb(0, 0, 0,0.1) ; /*Segunda sombra interna*/
    color: black;
    font-weight: bold;
    padding: 1px 45px 1px 4px;
    margin-bottom:10px;
    transition: all 0.4s ease-in;
}

.form-container input[type="text"], .form-container input[type="email"]{
    height: 32px;    
    width: 330px;
}
.form-container input[type="text"]:focus, 
.form-container input[type="email"]:focus{
    width: 370px;
    box-shadow: 0px 0px 12px rgb(255, 255, 255);
}

.form-container input[type="text"]{
    background-image: url('../img/icon-nombre.png');
    background-repeat: no-repeat;
    background-size: left 10px ;
    
}
 
.form-container input[type="email"]{
    background-image: url('../img/icon-correo.png');
    background-repeat: no-repeat;
    background-size: left 10px ;
    
}
.form-container input::placeholder{ /*Par que el placeholder no se solape con el icono*/
    padding-left: 30px;
}


.form-container textarea::placeholder{
    padding-left: 35px;
}

input:valid:focus{/*Cuando el cuando un campo tiene el foco y cumple la validación se aplicarala imagen*/
    background-image: url('../img/valid.png');
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 30px;
}


input:invalid:focus{/*Cuando el cuando un campo tiene el foco y no cumple la validación se aplicarala imagen*/
    background-image: url('../img/invalid.png');
    background-position: right;
    background-repeat: no-repeat;
} 
textarea:valid:focus{/*Cuando el cuando un campo tiene el foco y cumple la validación se aplicarala imagen*/
    background-image: url('../img/valid.png');
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 30px;
}

textarea:invalid:focus{/*Cuando el cuando un campo tiene el foco y no cumple la validación se aplicarala imagen*/
    background-image: url('../img/invalid.png');
    background-position: right;
    background-repeat: no-repeat;
} 


label{
    text-align: left;
}


.form-container textarea{
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-image: url('../img/icon-mensaje.png');
    background-position: left;
    font-size: 1em;
    width: 500px;
    height: 150px;
    background-position: 10px;

}

textarea:focus{
    box-shadow: 0px 0px 12px rgb(225 , 225,225);
}

button{
    margin: 10px 0px;
    padding: 10px;
    color: white;
    border: solid 1px #434343;
    background:linear-gradient(to bottom,#e5e5e5,#2a2a2a) ;
    box-shadow: 0px 1px 1px #353535 inset;
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
}

button:hover{
    background:linear-gradient(to top,#e5e5e5,#2a2a2a) ;
}

/*Todo lo relacionado con el footer*/

footer{
    height: 90px;
    width: 1600px;
    border-top: solid black 1px;
    justify-content: center;
    background-color: #363636;
    position: relative;
    
}

footer p{
    margin-top: 10px;
    color: #e7b82f;
    
    
}

#insta{
    width: 40px;
    height: 40px;
    border: solid 4px #785cac;
    border-radius: 40px;
    background-color: #785cac;
    background-image: url("../img/instagram-white-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* margin-top: 40px; */
    position: absolute;
    left: 740px;
    top: 35px;
    list-style: none;
}

#tiktok{
    width: 40px;
    height: 40px;
    border: solid 4px #785cac;
    border-radius: 40px;
    background-color: #785cac;
    background-image: url("../img/Tik-Tok-70.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 500;
    /* margin-top: 40px; */
    position: absolute;
    left: 810px;
    top: 35px;
    list-style: none;
}