@font-face {
    font-family: "Conrnerstone" ;
    src: url(../fuentes/Cornerstone.ttf); 
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px ;
    text-align: center;
    width: 100%; /* Asegura que el body ocupe el 100% del ancho de la ventana */
}

/*Todo lo relacionado con el header*/
header{
    height: 90px;
    display: flex;
    background-color: #363636;
    
}

header h1{
    margin:30px 0px 0px 0px ;
    font-family: "Conrnerstone" ;
    font-size: 58px;
    /* color: #cc527a; */
    color: #e7b82f;
}

header  img{
    width: 90px; 
    height: auto;
    margin: 0px 200px 0px 50px;
}

section{
   
}

content .article1 h3{
    font-family: "Conrnerstone" ;
    font-size: 30px;
    position: absolute;
    left: 50px;
    top: 100px;

}

/*Todo lo relacionado con el nav*/
nav{
    height: 90px;
    border-bottom: 1px  solid #270f07;
    border-top:1px solid  #270f07;
    font-size: 1.4em;
    text-align: center;
    display: flex;
    background-color: #a8a7a7;
}


#li1,#li2,#li3,#li4{
    padding-top: 30px ;
    display: inline-block;
    margin: 0px 150px 0px 150px;
    font-family: "Conrnerstone" ;
    font-size: 25px;
    
}


nav li a{
    text-decoration: none;
    color: black;
}



/*Todo lo relacionado con el content*/

content{
    font-size: 0.8em;
    flex-direction: column; /*Ponemos display flex y no table ni no el contenido del content se mesdeplazara creando columnas con los moviles*/
    background-color: #dbd3bd;
}

.article1{
    position: relative;
    width: 100%;
    height: 700px;
    border: 1px solid #dbd3bd;
    background-color: #dbd3bd;
    padding: 50px 0px 0px 0px;
    
}

.article2{
    width: 100%;
    height: 800px;
    border: 1px solid #dbd3bd;
    background-color: #dbd3bd;
}

/* ----------------------------- Article 1*/

/*Carrusel*/
/* Contenedor para centrar */
.ContainerCenter{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    position: absolute;
    left: 50px;
    top: 150px;
    
  }
  /* Input */
  input{display: none}

  video{
    height: 100%;
    width: 100%;
    display: block; /* Remove any extra space below the video */
  }
  
  
  /* Slider */
  .Carrusels{
    height: 500px;
    width: 400px;
    position: relative;
    overflow-x: hidden;
    overflow: hidden; /*  no scrollbars */
    border: 3px  solid #270f07;
    border-radius: 5px;
  }
  .Carrusel{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    overflow-y: hidden;
    transition: all .5s ease;
    
    overflow: hidden; /* No scrollbars */
    
  }
  /* Estado 1 */
  #Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(0%, 0);}
  #Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(100%, 0);}
  #Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(200%, 0);}
  /* Estado 2 */
  #Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-100%, 0);}
  #Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(0%, 0);}
  #Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(100%, 0);}
  /* Estado 3 */
  #Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-200%, 0);}
  #Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(-100%, 0);}
  #Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(0%, 0);}
  
  
  /* Flechas */
  .Carrusels .ArrowLeft, .Carrusels .ArrowRight{
    position: absolute;
    height: 100%;
    width: 2em;
    align-items: center;
    justify-content: center;
    display: none;
    user-select: none;
  }
  .Carrusels .ArrowLeft{left: 0px;}
  .Carrusels .ArrowRight{right: 0px;}
  /* Configuracion de flechas individuales */
  #Slider1:checked ~ .Carrusels .Arrow1{display: flex;}
  #Slider2:checked ~ .Carrusels .Arrow2{display: flex;}
  #Slider3:checked ~ .Carrusels .Arrow3{display: flex;}
  
  
  /* Selectores */
  .Selectors {
    width: 60px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  .Selectors .Selector {
    background-color: #FFF;
    height: 10px;
    width: 10px;
    display: block;
    border-radius: 5px;
  }
  /* Condicionales para botón inferior */
  #Slider1:checked ~ .Selectors .Selector:nth-of-type(1) {background-color: #999999;}
  #Slider2:checked ~ .Selectors .Selector:nth-of-type(2) {background-color: #999999;}
  #Slider3:checked ~ .Selectors .Selector:nth-of-type(3) {background-color: #999999;}
/*Aside*/

aside {
    width: 500px;
    height: 400px;
    background-color: #e0dbcb; /*Color de fondo y con el valor 0.7 determinamos la opacidad.*/
    box-shadow: 3px 0px 8px rgb(0,0,0,0.4);
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: absolute;
    right: 250px;
    top: 150px;
    
    
}

aside ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 1px 0px 20px 0px ;
}

aside ul li{
    list-style-type: none;
    padding-bottom: 3px;
    font-size:  1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


content .article1 aside h4 {
    font-size: 25px;
    margin: 5px 0px 20px 0px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

aside p {
    font-size:  1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    margin: 0px 0px 10px 0px ;
}

  /*-------------- Article 2*/


  .imagenes{
    width: 100%;
    margin: 50px 0px 0px 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1em;
    align-items: center; 

  }

  content  .article2 .imagenes img{
    width: 200px;
    height: 150px;
    /* border: solid  #833b23  2px; */
    border-radius: 5px;
    border: solid  #270f07 2px;
    
   } 

content .article2 .imagenes img:hover {
    /* Agrega tus estilos aquí */
    transform: scale(2) ; /* Ejemplo: aumentar el tamaño de la imagen */
    transition: transform 0.3s ease-in-out; /* Suaviza la transición */
    z-index: 10;
    
}

/* content .article2 .imagenes img:target {
    transform: scale(3); Ajusta la escala según tus necesidades
    z-index: 10; Asegúrate de que la imagen agrandada esté por encima de las demás
    position: relative;
} */

/*Todo lo relacionado con el footer*/

footer{
    height: 90px;
    width: 100%;
    border-top: solid  #270f07 1px;
    justify-content: center;
    background-color: #363636;
    position: relative;
    
    
}

footer p{
    margin-top: 10px;
    color: #e7b82f;
    
    
}

#insta{
    width: 40px;
    height: 40px;
    border: solid 4px #785cac;
    border-radius: 40px;
    background-color: #785cac;
    background-image: url("../img/instagram-white-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* margin-top: 40px; */
    position: absolute;
    left: 740px;
    top: 35px;
    list-style: none;
}

#tiktok{
    width: 40px;
    height: 40px;
    border: solid 4px #785cac;
    border-radius: 40px;
    background-color: #785cac;
    background-image: url("../img/Tik-Tok-70.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 500;
    /* margin-top: 40px; */
    position: absolute;
    left: 810px;
    top: 35px;
    list-style: none;
}