body{
    background-color: #5da4a1 ;
}
#page{
    background-color: #ffffff;
    width: 1040px;
    height: 900px;
    border: solid 0px black;
    margin: 0px 200px 0px 200px;
}

#header{
    width: 980px;
    height: 80px;
    margin: 0px 5px 0px 30px;
    border-bottom: solid 3px #5da4a1 ;
    padding-top:20px ;
    text-align: center;
}
#content{
    width: 100%;
    height: 700px;
    margin-bottom: 10px;
    
}

#footer{
    width: 980px;
    height: 80px;
    margin: 0px 5px 0px 30px;
    border-top: solid 3px #5da4a1;
    text-align: center;
    padding-top:20px ;
}

#bloque1{
    display: inline-flex;
    flex-direction: column; /* Para poner los div en columna*/
    margin:0px 30px 0px 30px;
}
#bloque1_1{
    display: flex;
    
}
#bloque1_2{
    display: flex;  
}
#bloque2{
    /* align-content: center; */
    margin:0px 30px 0px 30px;
}

#caja1{
    border: solid 1px black;
    text-align: center;
    width: 300px;
    height: 80px;
    margin: 20px 0px 0px 20px;
    border-radius: 20px 20px 5px 60px ;
    
}
#caja2{
    border: solid 1px black;
    text-align: center;
    width: 300px;
    height: 80px;
    margin: 20px 0px 0px 20px;
   border-radius: 5px;

}
#caja3{
    border: solid 1px black;
    text-align: center;
    width: 300px;
    height: 80px;
    margin: 20px 0px 0px 20px;
    border-radius: 50px;
    background: linear-gradient(to bottom, #ffffff, #5da4a1);
}
#caja4{
    border: solid 1px black;
    text-align: center;
    width: 300px;
    height: 80px;
    margin: 20px 0px 0px 20px;
    border-radius: 50px;
    background: radial-gradient(circle, #ffffff 0%, #5da4a1 200%);
}
#caja5{
    border: solid 1px black;
    text-align: center;
    width: 300px;
    height: 80px;
    margin: 20px 0px 0px 20px;
    border-radius: 40px;
}
#caja6{
    border: solid 1px black;
    text-align: center;
    width: 300px;
    height: 80px;
    margin: 20px 0px 0px 20px;
    
}

#caja7{
    border: solid 1px gainsboro;
    padding-top: 1px;
    text-align: center;
    width: 950px;
    height: 70px;
    margin: 20px 0px 0px 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #5da4a1 ;
}

#caja8{
    border: solid 1px black;
    text-align: center;
    width: 950px;
    height: 60px;
    margin: 20px 0px 0px 20px;
    border-radius: 50px;
    padding-bottom: 15px;
}
#caja9{
    border: solid 1px black;
    text-align: center;
    width: 950px;
    height: 60px;
    margin: 20px 0px 0px 20px;
    border-radius: 50px;
    padding-bottom: 15px;
    text-shadow: 5px 5px 5px #5da4a1;
}

#caja10{
    border: solid 1px black;
    text-align: center;
    width: 950px;
    height: 60px;
    margin: 20px 0px 0px 20px;
    border-radius: 50px;
    padding-bottom: 15px;
    background: linear-gradient(50deg, #FFFFFF 10%, #5da4a1 100% );
}

h1{
    font-size: 35px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
}










