@font-face {
    font-family: "Conrnerstone" ;
    src: url(../fuentes/Cornerstone.ttf);
}

body{
    margin: 0px;
    padding: 0px;

}

/*Todo lo relacionado con el header*/
header{
    border: 1px solid  black;
    height: 13vh;
    align-items: center;
    background-color: #363636;
}

header .elementos{

    height: 13vh;
}

header h1{
    /* margin:1vh 0vh 0vh 0vh ; */
    font-family: "Conrnerstone" ;
    font-size: 58px;
    /* color: #cc527a; */
    color: #e7b82f;
}

header  img{
    width: 13vh;
    height: 13vh;
    margin: 0px 200px 0px 50px;
}

/* el nav de header */

.btn.btn-outline-purple {
    color: #fff ; /* Color del texto */
    background-color: #8a2be2 ; /* Color de fondo morado */
    border-color: #8a2be2 ; /* Color del borde morado */
}

.offcanvas-body ul.navbar-nav > li:not(.dropdown) {
    margin-bottom: 10px; /* Ajusta la distancia entre cada elemento <li> principal */
    justify-content: left;
}


/*---------------------------------------------------------------Todo lo relacionado con el nav---------------------------------*/
nav{
    height: 10vh;
    border-bottom: 1px  solid #270f07;
    border-top:1px solid  #270f07;
    align-items: center;
}
.nav-container{ /*Antes de llegar a medir xs */
    height: 9.9vh;
    border-bottom: 1px  solid #270f07;
    border-top:1px solid  #270f07;
    align-items: center;
}

.main-nav{
    padding-top: 0px;
    padding-bottom: 0px;

}


.navbar-brand{
    margin-left: 10vw;
    font-family: "Conrnerstone" ;
    padding-left: 0px;
}
.navbar-collapse{
    width: 10vw;
}
nav .navbar-nav{
    align-content: center;
    margin: auto;
    position: relative;
    z-index: 1000; /* Un valor alto para asegurarse de que el navbar esté por encima del contenido */
}
.navbar-nav .nav-item {
    margin-right: 0px; /* Espacio entre los items */
    padding-left: 5vw;
    padding-right: 10vw;
  }

.navbar-nav .nav-link {
    padding: 0px 0px; /* Espacio alrededor del texto del enlace */
}

.collapse.navbar-collapse.col-6 .navbar-nav .nav-item:last-child {
    /* Estilos CSS para el último li y quitarles margenes internos e externos en la su parte derecha*/
    padding-right: 0px;
    margin-right: 0px;
}

.navbar-nav .nav-link {
    font-family: "Conrnerstone" ;
    color: black;
}
.navbar-nav .dropdown-menu .dropdown-item {
    font-family: "Conrnerstone" ;
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: #f7e4c9;
}
 /* Le quitamos el padding para que no queden bordes en blanco*/
.dropdown-menu{
    padding: 1px 0px 1px 0px ;
    border-radius: 5px;
    background-color: #785cac ;
}

/* Estilos para los elementos de los submenús */
.navbar-nav .dropdown-menu .dropdown-item  {
    background-color: #785cac;
    height: 10%;
   
}

/* Estilo alternativo para los elementos pares de los submenús */
.navbar-nav .dropdown-menu .dropdown-item:nth-child(even) {
    background-color: #9264e1;
}

/* Estilos al pasar el ratón sobre los elementos de los submenús */
.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #9b84c5;
}


/*Butoon */
.navbar-toggler{
    margin-top: 7px;
    margin-right: 25px;
}

/*Desplegable dentro del butoon */

.navbar-toggler {
    /* background-color: #785cac; Color de fondo deseado */
    border-color: #785cac; /* Color del borde, si lo deseas */
}

/* Apuntar a las listas desplegables que aparecen después de hacer clic en el botón */
 .navbar-toggler:focus+ .collapse.navbar-collapse .navbar-nav {
    background-color: rgba(200, 200, 200, 0.5); /* Fondo gris claro con transparencia */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra difuminada */
}

.navbar-toggler:focus + .collapse.navbar-collapse .navbar-nav li:hover {
    background-color: rgba(150, 150, 150, 0.5); /* Color de fondo más oscuro */
}
/*-----------------------------------------------Todo lo relacionado con el content--------------------------------------*/

.content{
    margin: 0px;
    padding: 0px;
    background-color:#f7e4c9;
    padding-bottom: 1.6vh;
}
.card.card-1 {
    background-color: #e9e7df; /*Color de fondo y con el valor 0.7 determinamos la opacidad.*/
    box-shadow: inset 3px 0px 8px rgba(0, 0, 0, 0.4);
}

.card.card-2 {
    margin-bottom: 0 !important; /* Anula el margen inferior */
    background-color: #e9e7df; /*Color de fondo y con el valor 0.7 determinamos la opacidad.*/
    box-shadow: inset 3px 0px 8px rgba(0, 0, 0, 0.4);
}

.card-2{
margin-bottom:0px ;
}







/*---------------------------------------------------------------------Todo lo relacionado con el footer--------------------------------------------------------*/
footer{
    height: 11vh;
    border-top: solid black 1px;
    justify-content: center;
    background-color: #363636;
    position: relative;
}

footer p{
    /*margin-top: 10px;*/
    color: #e7b82f;
    margin-bottom: 0px;


}

#insta{
    width: 40px;
    height: 40px;
    border: solid 4px #785cac;
    border-radius: 40px;
    background-color: #785cac;
    background-image: url("../img/instagram-white-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* margin: 40px; */
    /* position: absolute;
    left: 740px;
    top: 35px;
    list-style: none; */

}

#tiktok{
    width: 40px;
    height: 40px;
    border: solid 4px #785cac;
    border-radius: 40px;
    background-color: #785cac;
    background-image: url("../img/Tik-Tok-70.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 500;
    /* margin-top: 40px; */
    /* position: absolute;
    left: 810px;
    top: 35px;
    list-style: none; */
}
